<footer>
  <div class="links">
    <h3>Links</h3>
    <hr />
    <ul>
      <li><a href="/500">Server Error</a></li>
    </ul>
  </div>
  <div class="social-links">
    <h3>Social Media</h3>
    <hr />
    <ul>
      <li><a href="#">facebook</a></li>
      <li><a href="#">Youtube</a></li>
      <li><a href="#">Instagram</a></li>
      <li><a href="#">LinkedIn</a></li>
    </ul>
  </div>
  <div class="about">
    <h3>CSE-Motors</h3>
    <hr />
    <br />
    <div>Allrights Reserved</div>
    <div>&copy;<span class="year">25</span> CSE-Motors</div>
    <div>Last Modified: <span class="modified">2025</span></div>
  </div>
</footer>
