<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | CSE Motors</title>
    <link rel="shortcut icon" href="images/site/favicon-32x32.png" type="image/png">
    <meta name="author" content="Edward Kamwi">
    <meta name="description" content="Browse, read, explore our vehicles at cse motors the cheapest and guine vehicles">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lato&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic&display=swap"
        rel="stylesheet">

    <!-- local files -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles-large.css">
    <script src="js/script.js" defer></script>
</head>

<body>
    <header>
        <div class="brand">
            <span class="b-name">CSE Motors</span>
            <span class="user">My Account</span>
        </div>
        <nav>
            <a href="#" class="active">Home</a>
            <a href="#">Custom</a>
            <a href="#">Sedan</a>
            <a href="#">SUV</a>
            <a href="#">Truck</a>
        </nav>
    </header>
    <main>
        <div class="hero">
            <picture class="hero-image">
                <source media="(min-width: 500px)" srcset="images/vehicles/delorean.jpg" sizes="200 133">
                <img src="images/vehicles/delorean-tn.jpg" alt="delorean Car" width="500" height="333" loading="lazy">
            </picture>
            <h1>Welcome to CSE Motors!</h1>
            <div class="hero-card">
                <h2>DMC Dolorean</h2>
                <p>3 Cup holders</p>
                <p>Superman doors</p>
                <p>Fuzzy dice!</p>
                <img src="images/site/own_today.png" alt="own today" width="241" height="72" loading="lazy">
            </div>

        </div>
        <div class="content">
            <section class="upgrade-all">
                <h2>Delorean Upgrades</h2>
                <div class="upgrade-container">
                    <div class="upgrade-card">
                        <figure>
                            <picture>
                                <img src="./images/upgrades/flux-cap.png" alt="flux capacitor" width="65" height="65"
                                    loading="lazy">
                            </picture>
                            <figcaption>
                                flux capacitor
                            </figcaption>
                        </figure>

                    </div>
                    <div class="upgrade-card">
                        <figure>
                            <picture>
                                <img src="./images/upgrades/flame.png" alt="flame Decals" width="65" height="65"
                                    loading="lazy">
                            </picture>
                            <figcaption>
                                flame Decals
                            </figcaption>
                        </figure>
                    </div>
                    <div class="upgrade-card">
                        <figure>
                            <picture>
                                <img src="./images/upgrades/bumper_sticker.jpg" alt="bumper stickers" width="65"
                                    height="65" loading="lazy">
                            </picture>
                            <figcaption>
                                bumper stickers
                            </figcaption>
                        </figure>
                    </div>
                    <div class="upgrade-card">
                        <figure>
                            <picture>
                                <img src="./images/upgrades/hub-cap.png" alt="Hub caps" width="65" height="65"
                                    loading="lazy">
                            </picture>
                            <figcaption>
                                Hub caps
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </section>
            <section class="reviews">
                <h2>DMC Delorean Reviews</h2>
                <ul>
                    <li>"So fast it's almost like traveling in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feeling McFly!" (5/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80's living and I love it!" (5/5)</li>
                </ul>

            </section>
        </div>
    </main>
    <footer>
        <div class="links">
            <h3>Links</h3>
            <hr>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Custom</a></li>
                <li><a href="#">Sedan</a></li>
                <li><a href="#">SUV</a></li>
                <li><a href="#">Truck</a></li>
            </ul>
        </div>
        <div class="social-links">
            <h3>Social Media</h3>
            <hr>
            <ul>
                <li><a href="#">facebook</a></li>
                <li><a href="#">Youtube</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
        </div>
        <div class="about">
            <h3> CSE-Motors</h3>
            <hr>
            <div>Allrights Reserved</div>
            <div>&copy;<span class="year">25</span> CSE-Motors</div>
            <div>Last Modified: <span class="modified">2025</span></div>
        </div>

    </footer>
</body>

</html>