<h1><%= title  %></h1>
<p class="alert"><%- messages() %></p>
<section class="management">
    <ul>
        <li><a href="/inv/new-class" class="form-btn">Add Classification</a></li>
        <li><a href="/inv/new-inv" class="form-btn">Add inventory</a></li>
    </ul>
</section>